<!-- <form class="flex flex-col gap-5" [formGroup]="form" (submit)="onSave()">
  <p
    *ngIf="!this.form.get('email').valid && this.form.get('email').touched"
    class="text-sm text-red-500"
  >
    Please enter valid email address
  </p>
  <div
    class="p-1 rounded border-2 border-gray-200 flex items-center justify-center cursor-pointer"
  >
    <input
      type="text"
      placeholder="Enter your email"
      class="border-none w-full h-8 focus:outline-none"
      name="email"
      formControlName="email"
    />
  </div>
  <p
    *ngIf="
      !this.form.get('password').valid && this.form.get('password').touched
    "
    class="text-sm text-red-500"
  >
    Password must has at least 6 characters
  </p>
  <div
    class="p-1 rounded border-2 border-gray-200 flex items-center justify-center cursor-pointer"
  >
    <input
      type="password"
      placeholder="Enter your password"
      class="border-none w-full h-8 focus:outline-none"
      name="password"
      formControlName="password"
    />
  </div>
  <button
    type="submit"
    class="py-3 rounded bg-red-500 hover:bg-red-700 text-white font-semibold flex items-center justify-center cursor-pointer"
  >
    Sign in
  </button>
  <p class="mt-10 text-center text-small">
    Dont have an account?
    <span
      routerLink="/auth/signup"
      class="border-b-[1px] border-gray-950 cursor-pointer focus:outline-none"
      >Sign up</span
    >
  </p>
</form> -->
<form
  class="flex flex-col gap-5"
  [formGroup]="form"
  #ngForm="ngForm"
  (submit)="onSave()"
>
  <p
    *ngIf="!this.form.get('email').valid && ngForm.submitted"
    class="text-sm text-red-500"
  >
    Please enter valid email address
  </p>
  <div
    class="p-1 rounded border-2 border-gray-200 flex items-center justify-center cursor-pointer"
  >
    <input
      type="email"
      placeholder="Enter your email"
      class="border-none w-full h-8 focus:outline-none"
      name="email"
      formControlName="email"
    />
  </div>
  <p
    *ngIf="!this.form.get('password').valid && ngForm.submitted"
    class="text-sm text-red-500"
  >
    Password must has at least 6 characters
  </p>

  <div
    class="p-1 rounded border-2 border-gray-200 flex items-center justify-center cursor-pointer"
  >
    <input
      type="password"
      placeholder="Enter your password"
      class="border-none w-full h-8 focus:outline-none"
      name="password"
      formControlName="password"
    />
  </div>
  <button
    type="submit"
    class="py-3 rounded bg-red-500 hover:bg-red-700 text-white font-semibold flex items-center justify-center cursor-pointer"
  >
    <mat-spinner [diameter]="30" color="accent" *ngIf="isLoading"></mat-spinner>

    <span *ngIf="!isLoading">Sign in</span>
  </button>
  <p class="mt-10 text-center text-sm">
    Dont have an account?
    <span
      routerLink="/auth/signup"
      class="border-b-[1px] border-gray-950 cursor-pointer focus:outline-none"
      >Sign up</span
    >
  </p>
</form>
